header .phone.phone-android{
    width: 320px !important;
    padding: 40px 20px !important;
    height: 580px !important;
    margin-top: 60px !important;
}

iframe{
    width: 320px !important;
    height: 550px !important;
}
